<div class="layout__items-list row">
  {{#each items}}
  {{!-- Set the div's background color based on the item's Color object/Constructor --}}
  <div data-id="{{this.Item.id}}" class="layout__item col-12 d-flex" style="background-color: hsla({{this.Color.hue}}, {{this.Color.saturation}}%, {{this.Color.lightness}}%, 0.15)">
    <a href="item/{{this.Item.id}}" class="mr-auto">
      <div class="layout__item-name typography__item-name">
        {{this.Item.name}}
        <span class="typography__item-user">- {{this.Item.User.name}} </span>
      </div>
    </a>
    <div class="layout__vote-container">
      <div class="layout__vote-content">
        <a href="#" data-id="{{this.Item.id}}" class="up-vote"><i class="far fa-arrow-alt-circle-up fa-lg"></i></a>
        <a href="#" data-id="{{this.Item.id}}" class="down-vote"><i class="far fa-arrow-alt-circle-down fa-lg"></i></a>
      </div>
    </div>
  </div>
  {{/each}}
</div>